body {
  margin: 0;
  padding: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;
}
.question {
  font-size: 25px;
  color:#272629;
}
h3 {
  font-family: 'Source Sans Pro', 'Princess Sofia', cursive;
  margin: 0;
  font-size: 2.3rem;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #2175E4;
  -webkit-box-shadow: 0 1px 0 0 #2786DF;
          box-shadow: 0 1px 0 0 #2786DF;
}
.question-container form input[type=text] {
  font-size: 25px;
} 
.btn {
  font-size: 25px;
}
.user-log{
  font-size: 1.15rem;
}

 nav .app-brand-logo {
  margin: 17px 0 0 15px;
  display: inline-block;
} 
 .question-container {
  padding-top: 20px;
  width: 75%;
} 
.bold {
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
     left: 50%; 
    position: absolute;
    right: 45rem;
  }
}